{
  "printWidth": 140,
  "tabWidth": 2,
  "arrowParens": "always",
  "trailingComma": "all",
  "semi": true,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "singleQuote": true,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "jsxSingleQuote": false,
  "overrides": [
    {
      "files": [
        "*.{json,html,css}"
      ],
      "options": {
        "singleQuote": false,
        "tabWidth": 4
      }
    }
  ]
}
