{
  "printWidth": 140,
  "tabWidth": 2,
  "arrowParens": "always",
  "trailingComma": "all",
  "semi": true,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "singleQuote": true,
  "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["(^react|react|vite)", "<THIRD_PARTY_MODULES>", "^@/(components|config|types)/", "@/types", "^[./]"],
  "importOrderSeparation": false,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderSortSpecifiers": true,
  "jsxSingleQuote": false,
  "overrides": [
    {
      "files": ["*.{css,scss}"],
      "options": {
        "singleQuote": false,
        "tabWidth": 4
      }
    }
  ]
}
