@keyframes shake {
    0% {
        transform: scale(1);
        filter: blur(1px);
    }
    60% {
        filter: blur(4px);
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}

.animation-shake {
    will-change: transform, filter;
    animation: shake 0.2s 1 0.1s;
}
