@keyframes shake {
    0% {
        transform: scale(1);
        filter: blur(1px);
    }
    60% {
        filter: blur(4px);
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pop {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
        filter: blur(2px);
    }
    100% {
        transform: scale(1);
    }
}

.animation-shake {
    will-change: transform, filter;
    animation: shake 0.2s 1 0.1s;
}
