@import "colors.css";
@import "animations.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        line-height: 1.5;
        font-weight: 400;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    html,
    body {
        @apply min-h-dvh;
    }

    body {
        user-select: none;
        margin: 0;
        min-width: 320px;
        touch-action: none;
        background:
            url("/looper.svg") center/200% no-repeat,
            radial-gradient(circle at top center, rgba(102, 0, 255, 0.2) 0%, rgba(0, 0, 0, 100%) 100%) no-repeat fixed,
            #000;
    }

    a {
        @apply text-primary;
    }
}

@layer components {
    .main {
        @apply m-auto
        grid
        min-h-dvh
        items-center
        justify-center
        space-y-2 px-4;
    }

    .header {
        @apply flex
        gap-2
        py-2
        font-bold
        text-purple-500
        md:text-2xl;
    }

    .text-primary-gradient {
        @apply bg-gradient-to-r
        from-primary
        to-secondary
        bg-clip-text
        text-transparent;
    }

    .btn {
        @apply text-primary-gradient
        self-center
        rounded-md
        border
        border-purple-400 bg-black/10
        px-2
        text-sm
        shadow-md
        backdrop-blur;
    }
}
