@import "colors";
@import "animations";
@import "global";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        line-height: 1.5;
        font-weight: 400;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    html,
    body {
        @apply min-h-dvh;
    }

    body {
        @apply m-0 min-w-[320px] touch-none select-none;
        background:
            url("/looper.svg") center/200% no-repeat,
            radial-gradient(circle at top center, rgba(102, 0, 255, 0.2) 0%, rgba(0, 0, 0, 100%) 100%) no-repeat fixed,
            #000;
    }

    a {
        @apply text-primary;
    }
}

@layer components {
    .main {
        @apply m-auto flex min-h-dvh flex-col items-center;
        @apply justify-center;
        @apply gap-1;
        @apply space-y-2 px-4;
    }

    .header {
        @apply flex min-h-[45px] min-w-full gap-2 py-2;
        @apply font-bold text-purple-500 md:text-2xl;
    }
}
