@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px) scale(1.1);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px) scale(0.9);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.section {
    @apply m-auto grid min-h-dvh items-center justify-center space-y-2 px-4;
}

.heading {
    @apply flex gap-2 py-2 font-bold text-purple-500 md:text-2xl;
}

.win {
    @apply flex min-h-[80vh] flex-col justify-center gap-2 text-center text-4xl text-white;

    .icon {
        @apply relative top-5 text-[130px];
        animation: fadeInUp 0.35s ease-in-out both;
    }

    .text {
        @apply text-2xl font-black tracking-widest;
        animation: fadeInUp 0.35s ease-in-out 0.1s both;
    }

    .score {
        @apply text-7xl font-black tracking-tighter;
        @apply bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent;
        animation: fadeInDown 0.35s ease-in-out 0.1s both;
    }

    .button {
        @apply btn text-2xl;
        animation: fadeInUp 0.35s ease-in-out 0.3s both;
    }
}
